recursive-include docs *
recursive-include astLib/data *
recursive-include PyWCSTools/wcssubs-3.9.5 *.c*
recursive-include PyWCSTools/wcssubs-3.9.5 *.h*
recursive-include PyWCSTools/wcssubs-3.9.5 *.i*
recursive-include PyWCSTools/wcssubs-3.9.5 Makefile
recursive-include PyWCSTools/wcssubs-3.9.5 Readme
recursive-include PyWCSTools/wcssubs-3.9.5 COPYING
recursive-include PyWCSTools/wcssubs-3.9.5 NEWS
recursive-include examples/* *.py
include LICENSE
include CHANGE_LOG
